@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2b3c49;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* styles/global.css */
@font-face {
  font-family: 'Franklin Gothic';
  src: url('/fonts/FRANKGO.ttf') format('ttf'),
       url('/fonts/FRANKGO.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}